*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(36, 1, 1, 0.9);
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body:hover{
    background-image: linear-gradient(to left, rgb(207, 183, 183), rgb(163, 50, 163),rgb(228, 228, 99));
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    background-image: linear-gradient(to left, rgb(48, 46, 46), rgb(163, 50, 163),rgb(228, 228, 99));
    font-size: 18pt;
    padding: 10px;
    width: 550px;
    margin: auto;
    margin-top: 5%;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2pxpx rgba(0, 0, 0, 0.438);
}

h1:hover{
    width: 100%;
    text-align: center;
}
