*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-rows: 100px 1fr 60px  ;
    grid-template-columns: 1fr ;
    height: 100vh;
    background-color: #707070bd;
    background-image: -moz-linear-gradient(top, #73747480 0%rgba(142, 143, 143, 0.479)af 20%);
}
header{
    background-color: rgba(219, 147, 13, 0.699);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(12, 12, 12, 0.562);
    height: 70px;
}
.videos-container {
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    grid-template-columns: 20vh 20vh 20vh 20vh;
    margin-top: -50px;
    align-items: space-around;
}
.video-card {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 600px;
    position: relative;
}
footer {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(17, 15, 16);
    height: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
form {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 20px;
    margin-left: 600px;
    position: relative;
}

p{
    font-weight: bold;
    font-size: 18px;
    color: rgb(15, 15, 15);
    box-shadow: 5px 3px 10px rgb(20, 20, 20);
}
.video1 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: space-around;
    padding-top: -200px;
    padding-bottom: 100px;
}
.video2 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 210px;
    padding-right: 10px;
    padding-top: -200px;
    padding-bottom: 100px;
}
.video3 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 420px;
    padding-right: 10px;
    padding-top: -200px;
    padding-bottom: 100px;
}
.video4 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 630px;
    padding-right: 10px;
    padding-top: -200px;
    padding-bottom: 100px;
}
.video5 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: -500px;
    padding-right: px;
    padding-top: 180px;
    padding-bottom: 100px;
}
.video6 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 210px;
    padding-right: 10px;
    padding-top: 180px;
    padding-bottom: 100px;
}
.video7 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 420px;
    padding-right: 10px;
    padding-top: 180px;
    padding-bottom: 100px;
}
.video8 {
    width: 100%;
    height: 110%;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 630px;
    padding-right: 10px;
    padding-top: 180px;
    padding-bottom: 100px;
}
@media screen and (min-device-width: 250px) and (max-device-width: 800px) {
    body {
        background-color: #1e1e1f7a;
        background-image: -moz-linear-gradient(top, #181818 0%, #1c1d1d 20%);
    }
    .videos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: rgb(63, 22, 22);
        height: 70px;
        display: flex;
        flex-direction: column;   
        width: flex;
        height: flex;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        margin-left: -220px;
        position: relative;
    }
    .search-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-left: -260px;
        position: relative;
    }
h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(63, 22, 22);
    margin-top: 20px;
}
.videos-container {
    margin-top: -20px;
    margin-left: 27px;
    position: relative;
}
.video1 {
    padding-top: -200px;
    padding-bottom: 0px;
}
.video2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -100px;
    padding-bottom: 0px;
}
.video3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -100px;
    padding-bottom: 0px;
}
.video4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -100px;
    padding-bottom: 0px;
}
.video5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.video6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.video7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.video8 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 1px;
    color: rgb(15, 15, 15);
    box-shadow: 10px 5px 10px rgb(20, 20, 20);
    margin: auto;
}

footer {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(248, 248, 248);
    text-decoration: underline;
    height: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #14141498;
}
}